@model Epood.Models.ApplicationUser

<h2>My Account</h2>

<div>
    <p><strong>Email: </strong>@Model.Email</p>
    <p><strong>UserId: </strong>@Model.Id</p>
    <p><strong>Username: </strong>@Model.UserName</p>
</div>

<div>
    <a asp-controller="Product" asp-action="Create">Add Product</a>
</div>