@model Epood.ViewModels.AccountSettingsViewModel

<h2>Settings</h2>

<h3>Here you can change your data</h3>

<form asp-action="Settings" method="post">
        
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>
        
    <div>
        <label>Username</label>
        <input asp-for="UserName" />
    </div>
        
    <div>
        <label>New Password</label>
        <input asp-for="NewPassword" type="password" autocomplete="new-password"/>
    </div>

    <button type="submit">Save</button>

</form>